body {
    position: relative;
    padding-top: 51px;
    background-color: #fff;
}

.container {
    width: 970px;
    max-width: none !important;
}

#top-bar {
    .dropdown-menu {
        margin-top: 2px;
        min-width: 270px;

        #forgot-password {
            margin-top: 10px;
        }
        
        span.glyphicon {
            margin-right: 15px;
        }
    }
    
    #signin-dropdown {
        padding: 15px;
    }
}