body {
  position: relative;
  padding-top: 51px;
  background-color: #fff;
}
.container {
  width: 948px;
}
#signin-dropdown {
  padding: 15px;
  margin-top: 2px;
}
#signin-dropdown form {
  width: 240px;
}
#signin-dropdown form a {
  display: block;
  margin-top: 10px;
  font-size: 10px;
}
#signin-dropdown .popover {
  width: 260px;
}
#signin-dropdown .popover .popover-title {
  padding: 2px 14px;
  font-size: 11px;
  color: #bd362f;
}
#signin-dropdown .popover .popover-content {
  padding: 5px 14px;
  font-size: 10px;
}
.jumbotron-wrapper {
  background-color: #fafafa;
  border-bottom: solid 1px #e5e5e5;
  margin-bottom: 20px;
}
.jumbotron-wrapper .jumbotron {
  text-align: center;
  margin-bottom: 0;
  background-color: transparent;
}
.jumbotron-wrapper .jumbotron h1 {
  margin: 10px 0;
  font-size: 120px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: -2px;
}
.jumbotron-wrapper .jumbotron > p {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1.25;
  font-weight: 200;
  color: #999999;
}
.jumbotron-wrapper .jumbotron button {
  display: block;
  margin: 20px auto;
}
.jumbotron-wrapper .jumbotron .popover {
  width: 310px;
}
.jumbotron-wrapper .jumbotron .popover .popover-title {
  padding: 2px 14px;
  font-size: 11px;
  color: #bd362f;
}
.jumbotron-wrapper .jumbotron .popover .popover-content {
  padding: 5px 14px;
  font-size: 10px;
}
